body{
    background: #71b1b1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #f6f7f7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f6f8f9, #4891d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: #1759b7;
    border-radius: 5px;
    width: 405px;
    margin: 20px auto;
    padding: 30px;
    /* height: 600px; */
}

.form-body{
    text-align: right;
    padding: 30px 20px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    margin-right: 40px;
    width: 20%;
}

.form_input{
    width: 10%;
}

.footer{
    text-align: center;
}